<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head ('Joovie', @{/css/main.css})"></head>
<body>
<!-- ADD CHECK AUTH USER -->
<div th:replace="base :: navbar ('Main')"></div>

<div class="video-list" th:each="video : ${videos}"
     style="display: inline-flex; width: 1000px">
    <a th:href="${video.getAbsoluteUrl(#request)}" style="color: black; text-decoration: none">
        <div class="video-block">
            <img th:src="${video.getPreview()}" alt="Превью"
                 style="width: 213px; height: 120px; border: 2px solid"><br>
            <div class="video-info">
                <p class="video-name" th:text="${video.getTitle()}" style="font-size: 18px;">Title</p>
                <div class="video-text-info">
                    <p class="video-views" th:text="${video.getViews()} + ' просмотров'" style="font-size: 12px;">Кол-во просмотров</p>
                    <p class="video-datetime" th:text="${#dates.formatISO(video.getUploaded())}" style="font-size: 12px;">Date Uploaded</p>
                </div>
            </div>
        </div>
    </a>
</div>

<script th:src="@{/js/user/perform_video_dt.js}" type="module"></script>
<script th:replace="base:: bootstrap"></script>
</body>
</html>