<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head (${'Отслеживаемые каналы - Joovie'}, @{/css/following.css})"></head>
<body>
<div th:replace="base :: navbar ('Following')"></div>

<div class="follow-list" th:each="channel : ${channels}" style="width: 900px;">
    <div class="channel-block"
         style="display:flex; align-items: center; justify-content: space-between;">
        <a th:href="${channel.getAbsoluteUrl(#request)}"
           style="color: black; text-decoration: none; display:flex; justify-content: space-between; width: 500px">
            <img th:src="${channel.getAvatar()}" th:alt="${channel.getUsername()}"
                 style="width: 130px; height: 130px;">
            <div class="channel-info" style="text-align: left;">
                <div class="channel-name" th:text="${channel.getUsername()}" style="font-size: 22px;">Title</div>
                <div class="channel-text-info">
                    <div class="channel-followers-videos" style="display:flex;">
                        <p id="channel-followers" th:text="${channel.getFollowers().size()}"
                           style="font-size: 12px;">Кол-во подписчиков</p>
                        <span style="margin: 0 5px">*</span>
                        <p id="channel-video-count" th:text="${channel.getVideos().size()}"
                           style="font-size: 12px;">Кол-во видео</p>
                    </div>
                    <p class="channel-description" th:text="${channel.getDescription()}" style="font-size: 12px;">
                        Описание канала</p>
                </div>
            </div>
        </a>
        <button class="follow-button btn followed">Отписаться</button>
    </div>
</div>

<script th:src="@{/js/user/following.js}" type="module"></script>
<script th:replace="base :: bootstrap"></script>
</body>
</html>