<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head (${user.getUsername() + ' - Joovie'}, @{/css/profile.css})"></head>
<body>
  <div th:replace="base :: navbar ('Profile')"></div>
  <div class="profile-block">
    <div class="profile-window">
      <h2 th:text="${user.getUsername()}">Username</h2>
      <p th:text="${user.getFollowers().size()} + ' подписчиков'">Кол-во подписчиков</p>
      <img th:src="${user.getAvatar()}" alt="Аватар"
           style="height: 150px; width: 150px; border: 2px solid black">
    </div>
    <h3 th:if="${videos.isEmpty()}">No video</h3>
    <div class="video-list" th:unless="${videos.isEmpty()}" th:each="video : ${videos}"
         style="display: inline-flex; width: 1000px">
      <a th:href="${video.getAbsoluteUrl(#request)}" style="color: black; text-decoration: none">
        <div class="video-block">
          <img th:src="${video.getPreview()}" th:alt="${video.getTitle()}"
               style="width: 213px; height: 120px; border: 2px solid"><br>
          <div class="video-info">
            <p class="video-name" th:text="${video.getTitle()}" style="font-size: 18px;">Title</p>
            <div class="video-text-info">
              <p class="video-views" th:text="${video.getViews()} + ' просмотров'" style="font-size: 12px;">Кол-во просмотров</p>
              <p class="video-datetime" th:text="${#dates.formatISO(video.getUploaded())}" style="font-size: 12px;">Date Uploaded</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <script th:src="@{/js/user/perform_video_dt.js}" type="module"></script>
  <script th:replace="base :: bootstrap"></script>
</body>
</html>