.follow-list {
    display: block;
    margin: 50px auto;
}

.channel-info {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.channel-name {
    margin-bottom: 3px;
}

.channel-text-info {
    color: rgba(94, 93, 93, 0.98);
}

.follow-button {
    height: 45px;
    width: 160px;
    line-height: 0;
    border: 2px solid #006767;
    background: #006767;
    color: white;
}

.follow-button:hover {
    background: #004747;
    border: 2px solid #004747;
    color: white;
}

.followed {
    background: #3f0198;
    border: 2px solid #3f0198;
    color: white;
}

.followed:hover {
    border: 2px solid #2f0470;
    background: #2f0470;
    color: white;
}