.follow-list {
    display: block;
    margin: 50px 0 0 100px;
}

.profile-window {
    padding: 15px 10px;
    margin: 20px 0 0 30px;
    border: 3px solid black;
    width: 220px;
    text-align: center;
}

.channel-info {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.channel-name {
    margin-bottom: 3px;
}

.channel-text-info {
    color: rgba(94, 93, 93, 0.98);
}

.follow-button {
    height: 45px;
    width: 160px;
    line-height: 0;
    background: white;
    border: 2px solid #006767;
    color: #006767;
}

.follow-button:hover {
    border: 2px solid #006767;
    background: #006767;
    color: white;
}