.video-list {
    margin: 50px 0 0 50px;
}

.video-block {
}

.video-name {
    margin-bottom: 3px;
}

.video-user {
    color: rgba(94, 93, 93, 0.98);
    font-size: 12px;
    margin-bottom: 2px;
}

.video-text-info {
    color: rgba(94, 93, 93, 0.98);
    display: flex;
}

.video-datetime {
}