.video-list {
    margin: 50px 0 0 50px;
}

.video-block {
}

.video-info {
    margin-left: 1px;
}

.video-name {
    margin-bottom: 3px;
}

.video-text-info {
    color: rgba(94, 93, 93, 0.98);
    display: flex;
    justify-content: space-between;
}

.video-datetime {
}