.video-block {
    margin: 25px 0 0 25px;
}

.video-user {
    width: 960px;
    display: flex;
    justify-content: space-between;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.video-actions {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    font-size: 16px;
    margin-left: 20px;
}

.video-actions div {
    padding: 3px 8px;
}

.follow-button {
    height: 45px;
    width: 160px;
    line-height: 0;
    border: 2px solid #006767;
    background: #006767;
    color: white;
}

.follow-button:hover {
    background: #004747;
    border: 2px solid #004747;
    color: white;
}

.followed {
    background: #3f0198;
    border: 2px solid #3f0198;
    color: white;
}

.followed:hover {
    border: 2px solid #2f0470;
    background: #2f0470;
    color: white;
}